<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org">
<head th:replace="layout/layout::head">
</head>
<body>
        <h2 th:text="${cliente.nombre}"></h2>
        
        <h2>Cheques</h2>
        <hr/>
        <table class="table">
             <tr>
                 <td th:text="Codigo">
                 <td th:text="Monto">
                 <td th:text="'Fecha de emision'">
                 <td th:text="'No Cuenta'">
             </tr>
             
             <tr th:each= "items: ${cheques}">
                  <td th:text="${items.codigo}">
                  <td th:text="${items.monto}">
                  <td th:text="${items.fechaDeEmision}">
                  <td th:text="${items.noCuenta}">
             </tr>
             
        </table>
        
</body>
</html>